header {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
header .topNav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  align-content: center;
}
header .topNav .leftNav {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  margin-left: 3%;
}
header .topNav .leftNav .logo {
  margin: auto 0 auto 10px;
  height: 40px;
  width: 50px;
}
header .topNav .leftNav .textStyler {
  font-size: 20px;
  height: 100%;
  letter-spacing: 2px;
  color: #fff;
  font-family: "gPro";
  line-height: 60px;
  font-weight: 500;
}
header .topNav .rightNav {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 100%;
  align-content: center;
  justify-content: space-around;
}
header .topNav nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-content: flex-end;
}
header .headliner {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
header .headliner .titler {
  margin: auto auto 0;
  font-size: 40px;
  font-family: "proxima_novaregular";
  color: #fff;
}
header .headliner .subTitler {
  width: 100%;
  margin: 0 auto;
  font-size: 25px;
  font-family: "gProItalic";
  text-align: center;
  color: #fff;
  font-weight: 400;
}
header .headliner button {
  width: 150px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0px none;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: currentcolor none medium;
  background-color: #00aced;
  background-image: linear-gradient(to right, #4dd0e1, #1ee7e2);
  color: black;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
  margin: 10px auto;
}
header .headliner button:hover {
  background-image: none;
  background-color: #4dd0e1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 12px;
}
.linkSt {
  display: flex;
  flex-wrap: wrap;
  height: 15px;
  transition: 0.25s all ease-in-out;
  margin: auto;
  letter-spacing: 2px;
  font-family: "gPro";
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}
.linkSt:hover {
  cursor: pointer;
  transition: 0.25s all ease-in-out;
  color: #00aced;
}
